form {
    border: 2px solid black;
    padding: 50px;
    margin: 20px;
}
#heading {
    text-align: center;
}
#p3 {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
label {
    display: block;
}
textarea{
    display: block;
}